{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="body">
{% if(article) %}
    <div class="details-article-container">
        <h1>{{ article.title }}</h1>
        {% if(article.photo) %}
        <img class="article-img" src="/download/{{article.photo}}" alt="my_image">
        {% endif %}
        <p>{{article.introduction}}</p>
        <p> {{article.content}}   </p>
    </div>
{% endif %}

     {% if(article) %}
    <div class="details-other-articles-container">
     {% else %}
    <div class="details-other-articles-container-accueil">
     {% endif %}

     {% if(article) %}
    <h3>Consulter d'autres articles</h3>
     {% endif %}
        {% for article in articles %}
        <a class="details-other-articles-link" href="/article/{{article.slug}}">
                <div class="articles-link-img" style="background-image: url('/download/{{article.photo}}');
">
                </div>
                <div class="articles-link-text">
                    <h2 class="">{{article.title}}</h2>
                    <p class="">{{article.introduction}}</p>
                </div>
        </a>
        {% endfor %}

    </div>
</dvi>
{% endblock %}
